<nav class="navbar navbar-fixed-top <%=setting%>">
  <%- include("button"); -%>
  <h1 style"text-align: center">Timothy Lie</h1>

<!-- NAVIGATION 1.0 -->
  <!-- <p class="link-style"> Navigation </p> -->
  <!-- <a href="/journal"> <img src="/img/icons/journal-<%=setting%>.png" alt="..." class="link-icon"> </a> -->
  <!-- <a href="/address-book"> <img src="/img/icons/addressbook-<%=setting%>.png" alt="..." class="link-icon"> </a> -->
  <!-- <a href="/finance-book"> <img src="/img/icons/finance-book-<%=setting%>.png" alt="..." class="link-icon"> </a> -->
  <!-- <a href="/financial-journal"> <img src="/img/icons/financial-journal-<%=setting%>.png" alt="..." class="link-icon"> </a>
  <a href="/investment-fund"> <img src="/img/icons/investment-fund-<%=setting%>.png" alt="..." class="link-icon"> </a> -->
  <!-- <a href="/artworks"> <img src="/img/icons/artworks-<%=setting%>.png" alt="..." class="link-icon"> </a> -->
  <!-- <a href="/photos"> <img src="/img/icons/photos-<%=setting%>.png" alt="..." class="link-icon"> </a> -->
  <!-- <a href="/music"> <img src="/img/icons/music-<%=setting%>.png" alt="..." class="link-icon"> </a> -->
  <!-- <hr/> -->

<!-- NAVIGATION 2.0 -->
  <!-- <p class="link-style"> Favourites </p> -->
  <a href="/menu"> <img src="/img/icons/menu-<%=setting%>.png" alt="..." class="link-icon"> </a>


</nav>
