<%- include("partials/header"); -%>

<div class="container-fluid">
  <%- include("partials/navigation"); -%>
</div>

<div class="container-fluid view">
  <img src="/img/icons/financial-performance-original.png" alt="..." class="content-icon">
  <h3 class="title-style"> Food & Beverages Index </h3>
  <p class="link-style text">
    Below are screenshots of the Food & Beverages Index in Surinamese Dollar.
    <br/><br/>
    This index measures the average price of a basket of 24 products from various distributors from Suriname.
    <br/><br/>
    By clicking on one of the screenshots, it will redirect you to a Keynote where you can view the data in detail.
  </p>
  <br/><br/>

  <!-- Last updated -->
    <div class="text-center">
      <h4 class="title-style"> Last updated </h4>
      <p class="date"> Mon Apr 06 2020 </p>
      <br/><br/>
    </div>

  <!-- CONTENT -->
    <!-- Index Avg. -->
      <div class="text-center">
        <h3 class="title-style"> Index Average on the monthly </h3>
        <br/>
      </div>
      <div class="text-center">
        <a href="https://www.icloud.com/keynote/0e_bAL1gdUDKFhNGUoMNawTbg#Other_Data_of_TL_Investment_Fund" target="_blank">
          <img src="/img/investment-fund/food-beverages-index/IMG_fb_index-<%=setting%>.jpg" alt="..." class="img-full">
        </a>
        <br/><br/>
      </div>

    <!-- Statistics -->
      <div class="text-center">
        <h3 class="title-style"> Statistics </h3>
        <br/>
      </div>
      <div class="text-center">
        <a href="https://www.icloud.com/keynote/0e_bAL1gdUDKFhNGUoMNawTbg#Other_Data_of_TL_Investment_Fund" target="_blank">
          <img src="/img/investment-fund/food-beverages-index/IMG_fb_stats-<%=setting%>.jpg" alt="..." class="img-full">
        </a>
        <br/><br/>
      </div>

  <!-- GO BACK BUTTON -->
    <br/><br/>
    <a class="link-style" href="/investment-fund"> ↞ back ↞ </a>
    <br/><br/>
</div>

<%- include("partials/footer"); -%>
