<%- include("partials/header"); -%>

<div class="container-fluid">
  <%- include("partials/navigation"); -%>
</div>

<div class="container-fluid view">
  <img src="/img/icons/financial-performance-original.png" alt="..." class="content-icon">
  <h3 class="title-style"> Financial Performance of Investment Fund </h3>
  <p class="link-style text">
    Below are screenshots of the Investment Fund's performance in US Dollar.
    <br/><br/>
    By clicking on one of the screenshots, it will redirect you to a Keynote where you can view the data in detail.
    <br/><br/>
    If a password is needed, just send me an email at hello@timothylie.com
  </p>
  <br/><br/>

  <!-- Last updated -->
    <div class="text-center">
      <h4 class="title-style"> Last updated </h4>
      <p class="date"> Thu Apr 30 2020 </p>
      <br/><br/>
    </div>

  <!-- CONTENT -->
    <!-- Share Price -->
      <div class="text-center">
        <h3 class="title-style"> Share Price on the monthly </h3>
        <br/>
      </div>
      <div class="text-center">
        <a href="https://www.icloud.com/keynote/0aN1o41Yb1PuSUfDe8NNb8EHg#Financial_Performance_of_TL_Investment_Fund" target="_blank">
          <img src="/img/investment-fund/fund-data/IMG_usd_share_monthly-<%=setting%>.jpg" alt="..." class="img-full">
        </a>
        <br/><br/>
      </div>

    <!-- Funding Details -->
      <div class="text-center">
        <h3 class="title-style"> Funding details </h3>
        <br/>
      </div>
      <div class="text-center">
        <a href="https://www.icloud.com/keynote/0aN1o41Yb1PuSUfDe8NNb8EHg#Financial_Performance_of_TL_Investment_Fund" target="_blank">
          <img src="/img/investment-fund/fund-data/IMG_funding-<%=setting%>.jpg" alt="..." class="img-full">
        </a>
        <br/><br/>
      </div>

    <!-- Statistics -->
      <div class="text-center">
        <h3 class="title-style"> Statistics </h3>
        <br/>
      </div>
      <div class="text-center">
        <a href="https://www.icloud.com/keynote/0aN1o41Yb1PuSUfDe8NNb8EHg#Financial_Performance_of_TL_Investment_Fund" target="_blank">
          <img src="/img/investment-fund/fund-data/IMG_usd_stats-<%=setting%>.jpg" alt="..." class="img-full">
        </a>
        <br/><br/>
      </div>

    <!-- Portfolio -->
      <div class="text-center">
        <h3 class="title-style"> Portfolio </h3>
        <br/>
      </div>
      <div class="text-center">
        <a href="https://www.icloud.com/keynote/0aN1o41Yb1PuSUfDe8NNb8EHg#Financial_Performance_of_TL_Investment_Fund" target="_blank">
          <img src="/img/investment-fund/fund-data/IMG_portfolio-<%=setting%>.jpg" alt="..." class="img-full">
        </a>
        <br/><br/>
      </div>

  <!-- GO BACK BUTTON -->
    <br/><br/>
    <a href="/investment-fund"> ↞ back </a>
    <br/><br/>
</div>

<%- include("partials/footer"); -%>
