<%- include("partials/header"); -%>

<div class="container-fluid home">
  <%- include("partials/button"); -%>
  <h1 name="test" style"text-align: center"><a href="/" class="linkTitle">Timothy Lie</a></h1>
  <br/>

  <!-- Profile Photo -->
    <!-- <img src="/img/artworks/IMG_portrait-<%=setting%>.jpg" alt="..." class="img-portrait"> -->

  <!-- Visual Post -->
    <a href="https://play.decentraland.org/?position=-145%2C-119&realm=fenrir-amber" target="_blank">
      <img src="/img/milestones/IMG_niftsu_economic_meltdown.png" alt="..." class="img-full">
    </a>

  <br/><br/>

  <!-- POST -->
    <!-- Latest post -->
      <!-- <p class="text"> "<%=posts.content%>" </p> -->
      <!-- <p class="date"> <%= posts.date.toDateString() %> </p> -->

    <!-- Favourite post -->
      <!-- <p class="text"> "The answer my friend, is blowin' in the wind. The answer is blowin' in the wind. - Bob Dylan" </p> -->

    <!-- Temporary post -->
      <p class="text"> "Economic Meltdown in Suriname, a Jivinci x Timothy Lie art gallery meetup in Decentraland on Saturday 2nd of May, 2pm UTC. Located at Niftsu -145,-119" </p>

  <br/><br/>


  <!-- Navigation for Home -->
    <!-- Navigation 1.0 -->
      <!-- <div class="container-fluid"> -->
        <!-- <a href="/journal"> <img src="/img/icons/journal-<%=setting%>.png" alt="..." class="link-icon"> </a> -->
        <!-- <a href="/address-book"> <img src="/img/icons/addressbook-<%=setting%>.png" alt="..." class="link-icon"> </a> -->
        <!-- <a href="/finance-book"> <img src="/img/icons/finance-book-<%=setting%>.png" alt="..." class="link-icon"> </a> -->
        <!-- <a href="/artworks"> <img src="/img/icons/artworks-<%=setting%>.png" alt="..." class="link-icon"> </a> -->
        <!-- <a href="/photos"> <img src="/img/icons/photos-<%=setting%>.png" alt="..." class="link-icon"> </a> -->
        <!-- <a href="/music"> <img src="/img/icons/music-<%=setting%>.png" alt="..." class="link-icon"> </a> -->
        <!-- <br /><br/> -->
        <!-- <p class="trademark"> Created by <br/> Skriven </p> -->
        <!-- <a href="/compose"> <img src="/img/icons/compose-original.png" alt="..." class="link-icon"> </a> -->
      <!-- </div> -->

    <!-- Navigation 2.0 -->
      <div class="container-fluid">
        <a href="/menu"> <img src="/img/icons/menu-<%=setting%>.png" alt="..." class="link-icon"> </a>
        <br/><br/>
      </div>

  <br/>
</div>

<%- include("partials/footer"); -%>
