<%- include("partials/header"); -%>

<div class="container-fluid home">
  <%- include("partials/button"); -%>
  <h1 name="test" style"text-align: center"><a href="/" class="linkTitle">Timothy Lie</a></h1>
  <br/>

  <!-- IMAGE -->
  <a href="/artworks">
    <img src="/img/artworks/IMG_in_ether_we_believe.jpg" alt="..." class="img-preview">
  </a>

  <br/><br/>

  <!-- POST -->
  <p class="text"> "<%=posts.content%>" </p>
  <!-- <p class="date"> <%= posts.date.toDateString() %> </p> -->
  <br/><br/>

  <!-- Navigation for Home -->
  <div class="container-fluid">
      <a href="/journal"> <img src="/img/icons/journal-<%=setting%>.png" alt="..." class="link-icon"> </a>
      <a href="/financial-journal"> <img src="/img/icons/financial-journal-<%=setting%>.png" alt="..." class="link-icon"> </a>
      <a href="/investment-fund"> <img src="/img/icons/investment-fund-<%=setting%>.png" alt="..." class="link-icon"> </a>
      <a href="/artworks"> <img src="/img/icons/artworks-<%=setting%>.png" alt="..." class="link-icon"> </a>
      <a href="/photos"> <img src="/img/icons/photos-<%=setting%>.png" alt="..." class="link-icon"> </a>
      <a href="/music"> <img src="/img/icons/music-<%=setting%>.png" alt="..." class="link-icon"> </a>
    <br /><br/>
    <!-- <p class="trademark"> Created by <br/> Skriven </p> -->
    <!-- <a href="/compose"> <img src="/img/icons/compose-original.png" alt="..." class="link-icon"> </a> -->
  </div>
  <br/>
</div>

<%- include("partials/footer"); -%>
