<%- include("partials/header"); -%>

<div class="container-fluid home">
  <%- include("partials/button"); -%>
  <h1 name="test" style"text-align: center"><a href="/" class="linkTitle">Timothy Lie</a></h1>
  <br/>

  <!-- Profile Photo -->
    <img src="/img/artworks/IMG_portrait-<%=setting%>.jpg" alt="..." class="img-portrait">

  <!-- Visual Post -->
    <!-- <a href="https://play.decentraland.org/?position=-145%2C-119&realm=fenrir-amber" target="_blank">
      <img src="/img/milestones/IMG_niftsu_economic_meltdown.png" alt="..." class="img-full">
    </a> -->

  <br/><br/>

  <!-- POST -->
    <!-- Latest post -->
      <!-- <p class="text"> "<%=posts.content%>" </p> -->
      <!-- <p class="date"> <%= posts.date.toDateString() %> </p> -->

    <!-- Favourite post -->
      <p class="text"> "The answer my friend, is blowin' in the wind. The answer is blowin' in the wind. - Bob Dylan" </p>

    <!-- Temporary post -->
      <!-- <p class="text"> "" </p> -->

  <br/><br/>

    <!-- Navigation 2.0 -->
      <div class="container-fluid">
        <a href="/menu"> <img src="/img/icons/menu-<%=setting%>.png" alt="..." class="link-icon"> </a>
        <br/><br/>
      </div>

  <br/>
</div>

<%- include("partials/footer"); -%>
