<%- include("partials/header"); -%>

<div class="container-fluid home">
  <%- include("partials/button"); -%>
  <h1 name="test" style"text-align: center"><a href="/" class="linkTitle">Timothy Lie</a></h1>

  <img src="/img/photos/IMG_7300.jpg" alt="..." class="img-preview">

  <br/><br/>
  <p> "<%=posts.content%>" </p>
  <p class="date"> <%= posts.date.toDateString() %> </p>
  <br />
  <a class="link-icons" href="/journal"> 📜</a>
  <a class="link-icons" href="/financial-journal"> 💰</a>
  <a class="link-icons" href="/music"> 📻</a>
  <br /><br/>
  <a class="link-icons" href="/compose"> 📝</a>
  <br/>

</div>

<%- include("partials/footer"); -%>
