<%- include("partials/header"); -%>

<div class="container-fluid home">
  <%- include("partials/button"); -%>
  <h1 name="test" style"text-align: center"><a href="/" class="linkTitle">Timothy Lie</a></h1>

  <p> "<%=posts.content%>" </p>
  <p class="date"> <%= posts.date.toDateString() %> </p>
  <h4> . </h4>
  <a href="/view">Journals</a>

</div>

<%- include("partials/footer"); -%>
