<%- include("partials/header"); -%>

<div class="container-fluid">
  <%- include("partials/navigation"); -%>
</div>

<div class="container-fluid view">
  <img src="/img/icons/investment-fund-original.png" alt="..." class="content-icon">
  <h3 class="title-style"> Investment Fund </h3>
  <p class="link-style text">
    I started this fund in November 2019.
    <br/><br/> Below are screenshots of the Investment Fund's performance in US Dollar. By clicking on one of the screenshots, it will redirect you to a Keynote where you can view the data in detail. If a password is needed, just send me an email at hello@timothylie.com
  </p>
  <br /><br/>

  <div class="text-center">
    <h3> P/L after market fluctuations </h3>
    <br />
  </div>

  <div class="text-center">
    <a href="https://www.icloud.com/keynote/0aN1o41Yb1PuSUfDe8NNb8EHg#Financial_Performance_of_TL_Investment_Fund" target="_blank">
      <img src="/img/investment-fund/IMG_usd_plaftermarket-<%=setting%>.jpg" alt="..." class="img-full">
    </a>
    <br /><br/>
  </div>

  <div class="text-center">
    <h3> Net Worth </h3>
    <br />
  </div>

  <div class="text-center">
    <a href="https://www.icloud.com/keynote/0aN1o41Yb1PuSUfDe8NNb8EHg#Financial_Performance_of_TL_Investment_Fund" target="_blank">
      <img src="/img/investment-fund/IMG_usd_networth-<%=setting%>.jpg" alt="..." class="img-full">
    </a>
    <br /><br/>
  </div>

  <div class="text-center">
    <h3> Statistics </h3>
    <br />
  </div>

  <div class="text-center">
    <a href="https://www.icloud.com/keynote/0aN1o41Yb1PuSUfDe8NNb8EHg#Financial_Performance_of_TL_Investment_Fund" target="_blank">
      <img src="/img/investment-fund/IMG_usd_stats-<%=setting%>.jpg" alt="..." class="img-full">
    </a>
    <br /><br/>
  </div>

  <div class="text-center">
    <h3> Portfolio </h3>
    <br />
  </div>

  <div class="text-center">
    <a href="https://www.icloud.com/keynote/0aN1o41Yb1PuSUfDe8NNb8EHg#Financial_Performance_of_TL_Investment_Fund" target="_blank">
      <img src="/img/investment-fund/IMG_portfolio-<%=setting%>.jpg" alt="..." class="img-full">
    </a>
    <br /><br/>
  </div>

    <a class="link-style"> Fin </a>
  </div>

</div>

<%- include("partials/footer"); -%>
