<%- include("partials/header"); -%>

<div class="container-fluid">
  <%- include("partials/navigation"); -%>
</div>

<div class="container-fluid view">
  <img src="/img/icons/investment-fund-original.png" alt="..." class="content-icon">
  <h3 class="title-style"> Investment Fund </h3>
  <p class="link-style text">
    I started this fund in November 2019. This is a test fund created to develop some skills in practice.
    <br/><br/> Below are screenshots of the Investment Fund's performance in US Dollar. By clicking on one of the screenshots, it will redirect you to a Keynote where you can view the data in detail.
    <br/><br/> If a password is needed, just send me an email at hello@timothylie.com
  </p>
  <br /><br/>

<!-- A FINANCIAL NOTICE -->
  <div class="text-center">
    <h4> A Financial Notice </h4>
    <p class="link-style text">
      Measuring my test fund, invested in a sketchy pyramid scheme and discounted it 100% from the balance sheet, and now slowly working to get the share back to $1.00
      <br/><br/>
      <a href="https://t.me/TLinvestmentfund" class="link-style"> You can follow live broadcast of the Fund at Telegram by clicking here. </a>
    </p>
    <br /><br />
  </div>

<!-- SHARE PRICE -->
  <div class="text-center">
    <h3> Share Price on the daily </h3>
    <br />
  </div>

  <div class="text-center">
    <a href="https://www.icloud.com/keynote/0aN1o41Yb1PuSUfDe8NNb8EHg#Financial_Performance_of_TL_Investment_Fund" target="_blank">
      <img src="/img/investment-fund/IMG_usd_share_daily-<%=setting%>.jpg" alt="..." class="img-full">
    </a>
    <br /><br/>
  </div>

<!-- FUNDING DETAILS -->
  <div class="text-center">
    <h3> Funding details </h3>
    <br />
  </div>

  <div class="text-center">
    <a href="https://www.icloud.com/keynote/0aN1o41Yb1PuSUfDe8NNb8EHg#Financial_Performance_of_TL_Investment_Fund" target="_blank">
      <img src="/img/investment-fund/IMG_funding-<%=setting%>.jpg" alt="..." class="img-full">
    </a>
    <br /><br/>
  </div>

<!-- STATISTICS -->
  <div class="text-center">
    <h3> Statistics </h3>
    <br />
  </div>

  <div class="text-center">
    <a href="https://www.icloud.com/keynote/0aN1o41Yb1PuSUfDe8NNb8EHg#Financial_Performance_of_TL_Investment_Fund" target="_blank">
      <img src="/img/investment-fund/IMG_usd_stats-<%=setting%>.jpg" alt="..." class="img-full">
    </a>
    <br /><br/>
  </div>

<!-- PORTFOLIO -->
  <div class="text-center">
    <h3> Portfolio </h3>
    <br />
  </div>

  <div class="text-center">
    <a href="https://www.icloud.com/keynote/0aN1o41Yb1PuSUfDe8NNb8EHg#Financial_Performance_of_TL_Investment_Fund" target="_blank">
      <img src="/img/investment-fund/IMG_portfolio-<%=setting%>.jpg" alt="..." class="img-full">
    </a>
    <br /><br/>
  </div>

    <a class="link-style"> Fin </a>
  </div>

</div>

<%- include("partials/footer"); -%>
