<%- include("partials/header"); -%>

<div class="container-fluid">
  <nav class="navbar navbar-fixed-top <%=setting%>">
    <%- include("partials/button"); -%>
    <h1 style"text-align: center">Timothy Lie</h1>
</div>

<!-- ITEMS -->
  <div class="container-fluid menu">

    <!-- Board -->
      <p class="title-style text">
        <a href="/">
          <img src="/img/icons/board-<%=setting%>.png" alt="..." class="link-icon-title">
          Board
        </a>
      </p>
      <br/>

    <!-- Journal -->
      <p class="title-style text">
        <a href="/journal">
          <img src="/img/icons/journal-<%=setting%>.png" alt="..." class="link-icon-title">
          Journal
        </a>
      </p>
      <br/>

    <!-- Financial Journal -->
      <p class="title-style text">
        <a href="/financial-journal">
          <img src="/img/icons/financial-journal-<%=setting%>.png" alt="..." class="link-icon-title">
          Financial Journal
        </a>
      </p>
      <br/>

    <!-- Fund -->
      <p class="title-style text">
        <a href="/fund">
          <img src="/img/icons/fund-<%=setting%>.png" alt="..." class="link-icon-title">
          Fund
        </a>
      </p>
      <br/>

    <!-- Address Book -->
      <p class="title-style text">
        <a href="/address-book">
          <img src="/img/icons/addressbook-<%=setting%>.png" alt="..." class="link-icon-title">
          Address Book
        </a>
      </p>
      <br/>

    <!-- Milestones -->
      <p class="title-style text">
        <a href="/milestones">
          <img src="/img/icons/milestones-<%=setting%>.png" alt="..." class="link-icon-title">
          Milestones
        </a>
      </p>
      <br/>

    <!-- Artworks -->
      <p class="title-style text">
        <a href="/artworks">
          <img src="/img/icons/artworks-<%=setting%>.png" alt="..." class="link-icon-title">
          Artworks
        </a>
      </p>
      <br/>

    <!-- Photos -->
      <p class="title-style text">
        <a href="/photos">
          <img src="/img/icons/photos-<%=setting%>.png" alt="..." class="link-icon-title">
          Photos
        </a>
      </p>
      <br/>

    <!-- Music -->
      <p class="title-style text">
        <a href="/music">
          <img src="/img/icons/music-<%=setting%>.png" alt="..." class="link-icon-title">
          Music
        </a>
      </p>
      <br/>

  </div>

<%- include("partials/footer"); -%>
