<%- include("partials/header"); -%>

<div class="container-fluid">
  <%- include("partials/navigation"); -%>
</div>

<div class="container-fluid view">
  <img src="/img/icons/milestones-original.png" alt="..." class="content-icon">
  <h3 class="title-style"> Milestones </h3>
  <p class="link-style text">
    A reminiscence of projects I'm humbled to be a part of.<br /><br />By clicking on the photos, you will be redirected to Quip for the full story.
  </p>
  <br/><br/>

  <!-- Milestones, when clicked, opens a list with links to source -->

  <!-- Start of my dotcom -->
    <!-- <div class="text-center">
      <a href="https://timothylie.quip.com/TG82AGwZBYGT" target="_blank">
        <img src="/img/milestones/IMG_start_dotcom.jpg" alt="..." class="img-full">
      </a>
      <br/>
    </div>
    <div class="text-center">
      <h3> Start of my dotcom </h3>
      <p class="text">
        "
        <span id="dots_section_mi3"></span>
        <span class="readMore" id="more_section_mi3">
          "
        </span>
      </p>
      <button onclick="readMore('section_mi3')" value="<%=setting%>" id="readBtn_section_mi3" class="readButton date" style="background-color: transparent;">
        read more
      </button>
      <p class="date"> Fri Jun 14 2013 </p>
      <br/><br/>
    </div> -->

  <!-- Project Bonnie -->
    <!-- <div class="text-center">
      <a href="https://timothylie.quip.com/TTWWAo09iUsH" target="_blank">
        <img src="/img/milestones/IMG_bonnie.jpg" alt="..." class="img-full">
      </a>
      <br/>
    </div>
    <div class="text-center">
      <h3> Project Bonnie </h3>
      <p class="text">
        "Being part of MusiQ was one of the most creative and carefree period of my life.
        <span id="dots_section_mi2"></span>
        <span class="readMore" id="more_section_mi2">
          James Francis and Roger Jonathxn were collaborating on a music piece, finalized by Darren. After the song was ready, we sat down with Sander Coumou and started brainstorming what scenes ‘Bonnie’ should have. With Bianca, Michelle and Ross as acting rolls, Jill as the makeup artist, we’ve set the project in motion."
        </span>
      </p>
      <button onclick="readMore('section_mi2')" value="<%=setting%>" id="readBtn_section_mi2" class="readButton date" style="background-color: transparent;">
        read more
      </button>
      <p class="date"> Fri Apr 26 2013 </p>
      <br/><br/>
    </div> -->

  <!-- Project Break out the Zombie -->
    <div class="text-center">
      <a href="https://timothylie.quip.com/b31lAMtMYJbM" target="_blank">
        <img src="/img/milestones/IMG_botz.jpg" alt="..." class="img-full">
      </a>
      <br/>
    </div>
    <div class="text-center">
      <h3> Project Break out the Zombie </h3>
      <p class="text">
        "On the last day of December 2012, also known as Owru Yari, we've organized a flashmob in Suriname.
        <span id="dots_section_mi1"></span>
        <span class="readMore" id="more_section_mi1">
          MusiQ, together with a group of creatives, made the song and choreographed a dance moves. Break out the zombie is inspired by a documentary called Zeitgeist. The message is to question everything instead of following the society like a 'zombie'."
        </span>
      </p>
      <button onclick="readMore('section_mi1')" value="<%=setting%>" id="readBtn_section_mi1" class="readButton date" style="background-color: transparent;">
        read more
      </button>
      <p class="date"> Mon Dec 31 2012 </p>
      <br/><br/>
    </div>

  <p class="link-style"> Fin </p>
</div>

<%- include("partials/readmore-script"); -%>
<%- include("partials/footer"); -%>
