<%- include("partials/header"); -%>

<div class="container-fluid">
  <%- include("partials/navigation"); -%>
</div>

<div class="container-fluid view">
  <img src="/img/icons/milestones-original.png" alt="..." class="content-icon">
  <h3 class="title-style"> Milestones </h3>
  <p class="link-style text">
    A reminiscence of projects I'm humbled to be a part of.<br /><br />By clicking on the photos, you will be redirected to Notion for the full story.
  </p>
  <br/><br/>

  <!-- Milestones, when clicked, opens a list with links to source -->

  <!-- Economic Meltdown -->
    <div class="text-center">
      <a href="https://www.notion.so/2020-05-02-Economic-Meltdown-e37d8fe22d1147cd9d19f4cd6f2c5deb" target="_blank">
        <img src="/img/milestones/IMG_niftsu_economic_meltdown.png" alt="..." class="img-full">
      </a>
      <br/>
    </div>
    <div class="text-center">
      <h3> Economic Meltdown </h3>
      <p class="link-style"> First art gallery meetup in Decentraland </p>
      <p class="text">
        "Jivinci and I held a meetup in a virtual world built on Ethereum and spoke about the current situation in Suriname.
        <span id="dots_section_mi5"></span>
        <span class="readMore" id="more_section_mi5">
          We met some folks from the crypto community and airdropped them a photo tokenized at Makersplace. The most prominent art piece of this gallery, Judgment Day— a collaboration of Jivinci and myself, visualizes the situation to its extreme condition if the rulers won’t change their behavior towards its folks."
        </span>
      </p>
      <button onclick="readMore('section_mi5')" value="<%=setting%>" id="readBtn_section_mi5" class="readButton date" style="background-color: transparent;">
        read more
      </button>
      <p class="date"> Sat May 02 2020 </p>
      <br/><br/>
    </div>

  <!-- Brave&Co -->
    <div class="text-center">
      <a href="https://www.notion.so/2013-11-2017-03-Brave-Co-93cfa6605bfb4076a75b22d0db410276" target="_blank">
        <img src="/img/milestones/IMG_braveandco.jpg" alt="..." class="img-full">
      </a>
      <br/>
    </div>
    <div class="text-center">
      <h3> Brave&Co </h3>
      <p class="link-style"> A clothing brand inspired by adventures </p>
      <p class="text">
        "A brand inspired by adventures, initiated in 2013 and got form around '15.
        <span id="dots_section_mi4"></span>
        <span class="readMore" id="more_section_mi4">
          It is said that the best way to experience the very essence of life is through adventures. That empowering way guided our lives since the start."
        </span>
      </p>
      <button onclick="readMore('section_mi4')" value="<%=setting%>" id="readBtn_section_mi4" class="readButton date" style="background-color: transparent;">
        read more
      </button>
      <p class="date"> Nov 2013 - Mar 2017 </p>
      <br/><br/>
    </div>

  <!-- dotcom -->
    <div class="text-center">
      <a href="https://www.notion.so/2013-06-14-dotcom-3812340e36e9428db7e707b9d9fcb45a" target="_blank">
        <img src="/img/milestones/IMG_dotcom.jpg" alt="..." class="img-full">
      </a>
      <br/>
    </div>
    <div class="text-center">
      <h3> dotcom </h3>
      <p class="link-style"> Beginnings of my website </p>
      <p class="text">
        "I always loved the thought of having my own place on the internet.
        <span id="dots_section_mi3"></span>
        <span class="readMore" id="more_section_mi3">
          In 2013, I bought my own domain name and started building the website through Wix. By late 2017, I learnt some basic code and rebuilt the site into a Journal which I host through Heroku."
        </span>
      </p>
      <button onclick="readMore('section_mi3')" value="<%=setting%>" id="readBtn_section_mi3" class="readButton date" style="background-color: transparent;">
        read more
      </button>
      <p class="date"> Fri Jun 14 2013 </p>
      <br/><br/>
    </div>

  <!-- Bonnie -->
    <div class="text-center">
      <a href="https://www.notion.so/2013-04-26-Bonnie-7e459d8425c44a8693d3fecc6dfec2d5" target="_blank">
        <img src="/img/milestones/IMG_bonnie.jpg" alt="..." class="img-full">
      </a>
      <br/>
    </div>
    <div class="text-center">
      <h3> Bonnie </h3>
      <p class="link-style"> A music & film project </p>
      <p class="text">
        "Being part of MusiQ was one of the most creative and carefree period of my life.
        <span id="dots_section_mi2"></span>
        <span class="readMore" id="more_section_mi2">
          James Francis and Roger Jonathxn were collaborating on a music piece, finalized by Darren. After the song was ready, we sat down with Sander Coumou and started brainstorming the scenes of ‘Bonnie’. Together with Bianca, Michelle and Ross as acting rolls and Jill as the makeup artist, we’ve set the project in motion."
        </span>
      </p>
      <button onclick="readMore('section_mi2')" value="<%=setting%>" id="readBtn_section_mi2" class="readButton date" style="background-color: transparent;">
        read more
      </button>
      <p class="date"> Fri Apr 26 2013 </p>
      <br/><br/>
    </div>

  <!-- Break out the Zombie -->
    <div class="text-center">
      <a href="https://www.notion.so/2012-12-31-Break-out-the-Zombie-fd12c729dcba45a58ac40b212078b9bf" target="_blank">
        <img src="/img/milestones/IMG_botz.jpg" alt="..." class="img-full">
      </a>
      <br/>
    </div>
    <div class="text-center">
      <h3> Break out the Zombie </h3>
      <p class="link-style"> A music & dance project </p>
      <p class="text">
        "On the last day of December 2012, also known as Owru Yari, we've organized a flashmob in Suriname.
        <span id="dots_section_mi1"></span>
        <span class="readMore" id="more_section_mi1">
          MusiQ together with a group of creatives, made a song and choreographed some dance moves a couple months prior. Break out the zombie is inspired by a documentary called Zeitgeist. The message is to question everything instead of following the society like a 'zombie'."
        </span>
      </p>
      <button onclick="readMore('section_mi1')" value="<%=setting%>" id="readBtn_section_mi1" class="readButton date" style="background-color: transparent;">
        read more
      </button>
      <p class="date"> Mon Dec 31 2012 </p>
      <br/><br/>
    </div>

  <p class="link-style"> Fin </p>
</div>

<%- include("partials/readmore-script"); -%>
<%- include("partials/footer"); -%>
