<%- include("partials/header"); -%>
<%- include("partials/script"); -%>

<div class="container-fluid">
  <nav class="navbar navbar-fixed-top <%=setting%>">
    <%- include("partials/button"); -%>
    <h1 style"text-align: center"><a href="/" class="linkTitle">Timothy Lie</a></h1>
  </nav>
</div>

<div class="container-fluid compose chart-container view">
  <canvas id="myChart" width="300" height="200"> </canvas>
</div>

  <script>
    let myChart = document.getElementById("myChart").getContext("2d");

    //Global options
    Chart.defaults.global.defaultFontFamily = "serif";

    let myNetworth = new Chart(myChart, {
      type: "line",
      data: {
        labels:[
          "Jan '14", "Feb '14", "Mar '14", "Apr '14", "May '14", "Jun '14", "Jul '14", "Aug '14", "Sep '14", "Oct '14", "Nov '14", "Dec '14",
          "Jan '15", "Feb '15", "Mar '15", "Apr '15", "May '15", "Jun '15", "Jul '15", "Aug '15", "Sep '15", "Oct '15", "Nov '15", "Dec '15",
          "Jan '16", "Feb '16", "Mar '16", "Apr '16", "May '16", "Jun '16", "Jul '16", "Aug '16", "Sep '16", "Oct '16", "Nov '16", "Dec '16",
          "Jan '17", "Feb '17", "Mar '17", "Apr '17", "May '17", "Jun '17", "Jul '17", "Aug '17", "Sep '17", "Oct '17", "Nov '17", "Dec '17",
          "Jan '18", "Feb '18", "Mar '18", "Apr '18", "May '18", "Jun '18", "Jul '18", "Aug '18", "Sep '18", "Oct '18", "Nov '18", "Dec '18",
          "Jan '19", "Feb '19", "Mar '19"
        ],
        datasets: [{
          label: "Net Worth",
          data: [
            -10.11, -8.55, -7.61, -6.30, -4.82, -3.46, -5.33, -3.34, -9.43, -9.53, -10.19, -6.87,
            -5.80, -3.13, -4.16, -4.46, -4.44, -4.67, -4.67, -1.43, -1.59, -1.03, -1.14, -1.00,
            -1.38, -0.58, -0.01, 0.57, 0.68, 1.41, 2.08, 2.09, 2.69, 3.53, 4.25, 5.06,
            5.25, 6.61, 11.39, 22.43, 69.75, 85.48, 74.09, 124.08, 95.67, 97.96, 143.62, 246.88,
            274.81, 248.55, 140.19, 188.95, 170.31, 140.39, 140.33, 113.57, 107.12, 94.88, 71.15, 71.77,
            69.38, 78.35, 78.51
          ],
          backgroundColor: "#ddd",
          pointRadius: 2
        }]
      },
      options: {
        title: {
          display: true,
          text: "Net Worth",
          fontSize: 25
        },
        legend: {
          display: false
        },
        layout: {
          width: 1,
          heigth: 1
        }
      }
    });
  </script>

<%- include("partials/footer"); -%>
