<%- include("partials/header"); -%>
<%- include("partials/script"); -%>

<div class="container-fluid">
  <nav class="navbar navbar-fixed-top <%=setting%>">
    <%- include("partials/button"); -%>
    <h1 style"text-align: center"><a href="/" class="linkTitle">Timothy Lie</a></h1>
    <br />
    <a class="link-style" href="/financial-journal"> ↞ Go back ↞ </a>
  </nav>
</div>

<div class="container-fluid compose chart-container view">
  <canvas id="myChart" width="300" height="200"> </canvas>
  <div class="container-fluid chart-container portfolio">
    <canvas id="myPieChart" width="200" height="100" </canvas>
  </div>
</div>

<script>
  let myChart = document.getElementById("myChart").getContext("2d");
  let myPieChart = document.getElementById("myPieChart").getContext("2d");

  //Global options
  Chart.defaults.global.defaultFontFamily = "serif";

  let myNetworth = new Chart(myChart, {
    type: "line",
    data: {
      labels:[
        <%networth.forEach(function(date){ %>
          "<%= date.label %>" ,
        <% }) %>
      ],
      datasets: [{
        label: "Ether",
        data: [
          <%networth.forEach(function(date){ %>
            "<%= date.valueETH %>" ,
          <% }) %>
        ],
        backgroundColor: "#ddd",
        pointRadius: 2
      }]
    },
    options: {
      title: {
        display: true,
        text: "Net Worth in Ether",
        fontSize: 25
      },
      legend: {
        display: false
      },
      layout: {
        width: 1,
        heigth: 1
      }
    }
  });

  let myPortfolio = new Chart(myPieChart, {
    type: 'doughnut',
    data: {
      datasets: [{
        data: [<%=portfolio[0].fiat%>, <%=portfolio[0].crypto%>, <%=portfolio[0].other%>, <%=portfolio[0].longterm%>, <%=portfolio[0].commodities%>],
        backgroundColor: ["#fff", "#eee", "#ccc", "#bbb", "#aaa", "#999", "#888", "#777"],
        label: "Portfolio",
        borderWidth: 0
      }],
      labels: ["Fiat", "Crypto", "Other", "Long-term assets", "Commodities"]
    },
    options: {
      responsive: true,
      title: {
        display: true,
        text: "Portfolio",
        fontSize: 25
      }
    }
  });
</script>

<%- include("partials/footer"); -%>
