<%- include("partials/header"); -%>

<div class="container-fluid">
  <%- include("partials/navigation"); -%>
</div>

<div class="container-fluid view">
  <img src="/img/icons/financial-performance-original.png" alt="..." class="content-icon">
  <h3 class="title-style"> Financial Performance in Ether </h3>
  <p class="link-style text">
    Ether is a currency used on the Ethereum network. <br/><br/> By clicking on one of the charts, you will be redirected to a Keynote where you can view the data in detail.
  </p>
  <br /><br/>

<!-- CONTENT -->
<div class="text-center">
  <h3> Net Worth </h3>
  <br />
</div>

<div class="text-center">
  <a href="https://www.icloud.com/keynote/08mdkQkoreTkUE6ICrVgTlLFQ#Financial_Performance_of_Timothy_Lie" target="_blank">
    <img src="/img/financial-journal/IMG_eth_networth-<%=setting%>.jpg" alt="..." class="img-full">
  </a>
  <br /><br/>
</div>

<div class="text-center">
  <h3> Portfolio </h3>
  <br />
</div>

<div class="text-center">
  <a href="https://www.icloud.com/keynote/08mdkQkoreTkUE6ICrVgTlLFQ#Financial_Performance_of_Timothy_Lie" target="_blank">
    <img src="/img/financial-journal/IMG_portfolio-<%=setting%>.jpg" alt="..." class="img-full">
  </a>
  <br /><br/>
</div>

  <a class="link-style"> Fin </a>
</div>

  <%- include("partials/footer"); -%>
