<%- include("partials/header"); -%>

<div class="container-fluid">
  <%- include("partials/navigation"); -%>
</div>

<div class="container-fluid view">
  <img src="/img/icons/financial-performance-original.png" alt="..." class="content-icon">
  <h3 class="title-style"> Financial Performance in US Dollar </h3>
  <p class="link-style text"> US Dollar is currently the world reserve fiat currency. </p>
  <br /><br/>

<!-- CONTENT -->
<div class="text-center">
  <h3> Net Worth </h3>
  <br />
</div>

<div class="text-center">
    <img src="/img/financial-journal/IMG_usd_networth-<%=setting%>.jpg" alt="..." class="img-full">
  <br /><br/>
</div>

<div class="text-center">
  <h3> Portfolio </h3>
  <br />
</div>

<div class="text-center">
    <img src="/img/financial-journal/IMG_portfolio-<%=setting%>.jpg" alt="..." class="img-full">
  <br /><br/>
</div>

  <a class="link-style"> Fin </a>
</div>

  <%- include("partials/footer"); -%>
